<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/header.css' />
  <!-- <script src=" /javascripts/bursary2.js"></script> -->
  <link rel="stylesheet" href="stylesheets/bursary2.css">
</head>

<body>
  <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->


  <!-- <header id="top-header">

    <img src="../images/logo.png" height="80" width="80" />

    <h2 id="logo">LASU CLEARANCE</h2>
  </header>
  <div id="headerCompliment"></div> -->

  <!-- <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="#">PENDING</a>
    <a href="#">CLEARED</a>
    <a href="#">REJECTED</a>
   <a href="#">Contact</a> -->
  <!-- </div> -->

  <!-- <div id="main">

    <span class="openside" style="font-size:30px;cursor:pointer" onclick="openNav()">☰ categories</span>
  </div> -->


</body>

</html>