<!DOCTYPE html>
<html >
<head>
  <!-- Site made with Mobirise Website Builder v4.8.6, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.8.6, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/public/assets/images/logo-114x123-2.png" type="image/x-icon">
  <meta name="description" content="">
  <title>Home</title>
  <link rel="stylesheet" href="/public/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="/public/assets/tether/tether.min.css">
  <link rel="stylesheet" href="/public/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/public/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/public/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="/public/assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="/public/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="/public/assets/theme/css/style.css">
  <link rel="stylesheet" href="/public/assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
</head>
<body>
  <section class="menu cid-qTkzRZLJNu" once="menu" id="menu1-0">

    

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="https://www.lasu.edu.ng" target="_blank">
                         <img src="/public/assets/images/logo-114x123.png" alt="Mobirise" title="" style="height: 5rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-7" href="https://mobirise.com">LASU Clearance</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-white display-4" href="https://mobirise.com">
                        <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span></a>
                </li><li class="nav-item">
                    <a class="nav-link link text-white display-4" href="https://mobirise.com">
                        </a>
                </li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary display-4" href="https://mobirise.com">Login</a></div>
        </div>
    </nav>
</section>

<section class="engine"><a href="https://mobirise.info/m">site design templates</a></section><section class="cid-qTkA127IK8 mbr-fullscreen mbr-parallax-background" id="header2-1">

    

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(7, 59, 76);"></div>

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">Lasu Clearance System</h1>
                
                <p>Discover fun in Clearance<br></p><p>Anywhere, Anytime</p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-primary display-4" href="/login">LOGIN AS STUDENT</a>
                   
                
  
                    <a class="btn btn-md btn-white-outline display-4 dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >LOGIN AS UNIT</a>
               
                     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/bursarylogin">Bursary</a>
    <a class="dropdown-item" href="/sportlogin">Sport</a>
    <a class="dropdown-item" href="/librarylogin">Library</a>
    <a class="dropdown-item" href="/studentafflogin">Student-Affairs</a>
    <a class="dropdown-item" href="/internallogin">Internal-Audit</a>
    <a class="dropdown-item" href="/facultylogin">Faculty</a>
    
  </div>
</div> 

               
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

<section class="features6 cid-r8kMuid28Y" id="features6-w">
    
    

    
    <div class="container">
        <div class="media-container-row">

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbri-features"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-7">Student's Services</h4>
                    <p class="mbr-text mbr-fonts-style display-7">Graduants can Login as students to begin clearance process, tack process, review comments &nbsp;it's fast and easy to use.</p>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbri-touch mbr-iconfont"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-7">
                        Unit Sevices</h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                       An option for Admin members to process the students clearance from one of seven units of the clearance processes</p>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbri-globe-2"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-7">Anywhere, Anytime</h4>
                    <p class="mbr-text mbr-fonts-style display-7">No hastle, No struggle... process your clerance processes at your convieniency anywhere and anytime. Just rule your world.</p>
                </div>
            </div>

            

        </div>

    </div>

</section>

<section class="timeline2 cid-r7Dn4jKmGA" id="timeline2-g">

    

    

    <div class="container align-center">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2">Why We're Reliable</h2>
        <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style display-5">
            The first online clearence in all Universities</h3>

        <div class="container timelines-container" mbri-timelines="">
            <div class="row timeline-element reverse separline">      
                <span class="iconsBackground">
                    <span class="mbr-iconfont mbri-devices"></span>
                </span>          
                <div class="col-xs-12 col-md-6 align-left">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            Multi Devices</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">Track your progress anytime, anywhere with our platform allowing to stay logged it on all of your devices tor the same account.</p>
                     </div>
                </div>
            </div>

            <div class="row timeline-element  separline">
                <span class="iconsBackground">
                    <span class="mbri-responsive mbr-iconfont"></span>
                </span>
                <div class="col-xs-12 col-md-6 align-left ">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Mobile Friendly<br></h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Accessing Our &nbsp;application on phones and other devices with smaller screens is never a problem as our platform is 100% mobile responsive.</p>
                    </div>
                </div>
            </div> 

            <div class="row timeline-element reverse separline">
                <span class="iconsBackground">
                    <span class="mbr-iconfont mbri-help"></span>
                </span>
                <div class="col-xs-12 col-md-6 align-left">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Instant Help</h4>      
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Ever got stuck? that shouldn't be a problem for long our team is ready and willing to help always, clearence is fun in no time.</p>
                    </div>
                </div>
            </div>

            <div class="row timeline-element ">
                <span class="iconsBackground">
                    <span class="mbr-iconfont mbri-smile-face"></span>
                </span>
                <div class="col-xs-12 col-md-6 align-left ">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            User Experience</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Awesome&nbsp;</p>
                    </div>
                </div>
            </div>

            

            

            

            

            

            

            

            
        </div>
    </div>
</section>

<section class="mbr-section info1 cid-r7Dt7FJy76" id="info1-p">

    

    
    <div class="container">
        <div class="row justify-content-center content-row">
            <div class="media-container-column title col-12 col-lg-7 col-md-6">
                <h3 class="mbr-section-subtitle align-left mbr-light pb-3 mbr-fonts-style display-5">
                    Discover Fun In Graduation clearance</h3>
                <h2 class="align-left mbr-bold mbr-fonts-style display-2">
                    LASU CLEARANCE</h2>
            </div>
            <div class="media-container-column col-12 col-lg-3 col-md-4">
                <div class="mbr-section-btn align-right py-4"><a class="btn btn-primary display-4" href="https://mobirise.co">&nbsp;Begin Clearance</a></div>
            </div>
        </div>
    </div>
</section>

<section class="cid-r7e38v9us1 mbr-reveal" id="footer5-7">

    

    

    <div class="container">
        <div class="media-container-row">
            <div class="col-md-3">
                <div class="media-wrap">
                    <a href="https://mobirise.co/">
                       <img src="/public/assets/images/logo-114x123.png" alt="Mobirise" title="">
                    </a>
                </div>
            </div>
            <div class="col-md-9">
                <p class="mbr-text align-right links mbr-fonts-style display-7">
                    <a href="#" class="text-black">ABOUT</a> &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="text-black">TERMS</a> &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="text-black">CAREERS</a> &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="text-black">CONTACT</a>
                </p>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-md-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2018 Lasucode- All Rights Reserved
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        <div class="soc-item">
                            <a href="https://twitter.com/mobirise" target="_blank">
                                <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.youtube.com/c/mobirise" target="_blank">
                                <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://instagram.com/mobirise" target="_blank">
                                <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                                <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


  <script src="/public/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="/public/assets/popper/popper.min.js"></script>
  <script src="/public/assets/tether/tether.min.js"></script>
  <script src="/public/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/public/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="/public/assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="/public/assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="/public/assets/parallax/jarallax.min.js"></script>
  <script src="/public/assets/dropdown/js/script.min.js"></script>
  <script src="/public/assets/theme/js/script.js"></script>
  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i></i></a></div>
    <input name="animation" type="hidden">
  </body>
</html>
