<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>student Login</title>
  <!-- <link rel="shortcut icon" href="/public/assets/images/logo-114x123-2.png" type="image/x-icon"> -->
  <link rel="shortcut icon" href="http://localhost:3000/public/images/lasu.jpg" type="image/x-icon">

    <link rel="stylesheet" href="/public/stylesheets/login.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <span class="alert alert-light" role="alert">
  
</span>


<center>
<div id="yoo" class="alert alert-warning" style="width: 400px;" role="alert">
  <h5> <%=loginError%> </h5>
</div>
</center>


<center>
<div id="yo" class="alert alert-warning" style="width: 400px;" role="alert">
  <h5> <%=wrongMatric%> </h5>
</div>
</center>

<div class="wrapper fadeInDown">
  <div id="formContent">

    <div class="fadeIn first">
      <img src="/public/images/lasu.jpg" id="icon" alt="User Icon" />
      <h1>Lasu Clearance</h1>
    </div>

    <!-- Login Form -->
    <form action="/login/student" method="POST">
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="Surname">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Matric No">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <p>Lasu Clearance System</p>
    </div>

  </div>
</div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Other js files -->
<script src="plugins/jQuery/bootstrap.min.js"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="plugins/jQuery/bootstrap.min.js"></script>




    <script type="text/javascript">    
        
        if($.trim($('#yo').text()).length === 0) {
            $('#yo').css("display", "none")
        }else{
            $('#yo').css("display", "block")
          
        }



        if($.trim($('#yoo').text()).length === 0) {
            $('#yoo').css("display", "none")
        }else{
            $('#yoo').css("display", "block")
          
        }

        </script>

</body>

</html>