<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <form action="/register/student" method="POST">
    <input type="text" name="fullname" placeholder="fullname">
    <input type="text" name="username" placeholder="Surname">
    <input type="password" name="password" placeholder="Matric Number">
    <input type="number" name="matricNo" placeholder="Matric Number">
    <input type="email" name="email" placeholder="Email">
    <input type="text" name="department" placeholder="Department">
    <input type="hidden" name="role" value="student">
    <input type="submit">
    </form>
</body>
</html>