<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    <%- title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  <link rel='stylesheet' href='/stylesheets/home.css' />

  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" />
</head>

<body>
  <header id="top-header">
    <a href="https://classroom.udacity.com/me" id="A_2">
      <img src="/images/logo-ccbc7.svg" id="IMG_3" alt='' />
    </a>
  
  <div class="timeline-container">
    <div id="timeline-line">
    </div>
    <div id="timeline-now">
    </div>
    <div>
      <div class="timeline-event" style="left: 0px">
        <div id="timeline-info">
          <div id="timeline-date">
            Bursary
          </div>
          <div id="timeline-title">

          </div>
        </div>
      </div>
      <div class="timeline-event" style="left: 20%">
        <div id="timeline-info">
          <div id="timeline-date">
            Library
          </div>
          <div id="timeline-title">

          </div>
        </div>
      </div>
      <div class="timeline-event" style="left: 40%">
        <div id="timeline-info">
          <div id="timeline-date">
            Sports centre
          </div>
          <div id="timeline-title">

          </div>
        </div>
      </div>

      <div class="timeline-event" style="left: 60%">
        <div id="timeline-info">
          <div id="timeline-date">
            Faculties
          </div>
          <div id="timeline-title">

          </div>
        </div>
      </div>

      <div class="timeline-event" style="left: 80%">
        <div id="timeline-info">
          <div id="timeline-date">
            Students Affairs
          </div>
          <div id="timeline-title">

          </div>
        </div>
      </div>

      <div class="timeline-event" style="left: 100%">
        <div id="timeline-info">
          <div id="timeline-date">
            Internal Audits
          </div>
          <div id="timeline-title">

          </div>
        </div>
      </div>
    </div>
  </div>
</header>

  <div id="clearence-box">
    <div id="student-profile">
      <h2 class="details-header">LAGOS STATE UNIVERSITY, OJO</h2>
      <img src="../images/defaultProfile.png" height="120px" width="120px" class="details-headerimage" alt="">
      <br>
      <p>Clearence form for the ________ graduate of the LAGOS STATE UNIVERSITY</p>
      <p>
        <span class="details">Name : Azeez Lukman Omoyemi</span>
        <br>
        <span class="details">Course: Computer Science Education</span>
        <br>
        <span class="details">Bursary number: 112908365456</span>
        <br>
        <span class="details">Matric Number: 120115115 </span>
      </p>

    </div>

    <div id="clearence-status-box">
      <div id="status-bursary">
        <div class="status-bar">
          <div class="status-bar-label">
            <!-- react-text: 63 -->

            <!-- /react-text -->

            <div class="status-bar-info">
              <div class="status-bar-title">
                Bursary
              </div>
              <p class="current-status">
                current status
              </p>
            </div>


          </div>
          <div class="action-bar">
            <button type="button" class="action-button">
              pending...
            </button>
          </div>
        </div>
      </div>

      <div id="status-library">
        <div class="status-bar">
          <div class="status-bar-label">
            <!-- react-text: 63 -->

            <!-- /react-text -->

            <div class="status-bar-info">
              <div class="status-bar-title">
                Library
              </div>
              <p class="current-status">
                current status
              </p>
            </div>


          </div>
          <div class="action-bar">
            <button type="button" class="action-button">
              pending...
            </button>
          </div>
        </div>
      </div>

      <div id="status-sportsCentre">
        <div class="status-bar">
          <div class="status-bar-label">
            <!-- react-text: 63 -->

            <!-- /react-text -->

            <div class="status-bar-info">
              <div class="status-bar-title">
                Sports centre
              </div>
              <p class="current-status">
                current status
              </p>
            </div>


          </div>
          <div class="action-bar">
            <button type="button" class="action-button">
              pending...
            </button>
          </div>
        </div>
      </div>

      <div id="status-faculties">
        <div class="status-bar">
          <div class="status-bar-label">
            <!-- react-text: 63 -->

            <!-- /react-text -->

            <div class="status-bar-info">
              <div class="status-bar-title">
                Faculty of Education
              </div>
              <p class="current-status">
                current status
              </p>
            </div>


          </div>
          <div class="action-bar">
            <button type="button" class="action-button">
              pending...
            </button>
          </div>
        </div>
      </div>

      <div id="status-studentAffairs">
        <div class="status-bar">
          <div class="status-bar-label">
            <!-- react-text: 63 -->

            <!-- /react-text -->

            <div class="status-bar-info">
              <div class="status-bar-title">
                Student affairs
              </div>
              <p class="current-status">
                current status
              </p>
            </div>


          </div>
          <div class="action-bar">
            <button type="button" class="action-button">
              pending...
            </button>
          </div>
        </div>
      </div>

      <div id="status-internalAudits">
        <div class="status-bar">
          <div class="status-bar-label">
            <!-- react-text: 63 -->

            <!-- /react-text -->

            <div class="status-bar-info">
              <div class="status-bar-title">
                Internal audits
              </div>
              <p class="current-status">
                current status
              </p>
            </div>


          </div>
          <div class="action-bar">
            <button type="button" class="action-button">
              pending...
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>