<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UNAUTHORIZED USER</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="">
            The system just detected that you are trying to visit a page that you are not authorized to view.


        </h1> <br>
            <p>
                it would be very nice of you to stop the act and please login asthe user that you are below
            </p>

            <a href="/">HOME</a>

    </div>
</body>
</html>