html{
    
    background-size: 100%;


}

body{
    margin:0;
    margin-top: 30px;
    background-image: url('../images/bg-img\ 1.png');
    
    

}

img{
    padding-left: 46%;
    
    /* border-radius: 100% */


}

.upSpan{
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: dodgerblue;
    margin-left: 30px;
    margin-top: 30px;
    letter-spacing: 2.5px
}



.formContainer{
    /* background: white; */
    background: linear-gradient(to top right, #33ccff 0%, #ff99cc 100%);
    -moz-box-shadow: 0 0 8px #88d5e9;
    -webkit-box-shadow: 0 0 8px #09c6f5;
    box-shadow: 0 0 8px #88d5e9;
    border: 1px solid #88d5e9;
    border-radius: 5px 5px 5px;
    padding: 20px;
    width: 350px;			 
    margin: auto;			 			 
}

label{
    text-align: right;
    padding: 5px;
   }

input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 2px solid #bebebe;
    padding: 8px;
    margin-top: 8px;
    margin-bottom:  8px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: none;
    width: 100%;
}

input:focus{
    -moz-box-shadow: 0 0 8px #88d5e9;
    -webkit-box-shadow: 0 0 8px #88d5e9;
    box-shadow: 0 0 8px #88d5e9;
    border: 1px solid #88d5e9;
}

input:hover{
    -moz-box-shadow: 0 0 8px #88d5e9;
    -webkit-box-shadow: 0 0 8px #88d5e9;
    box-shadow: 0 0 8px #88d5e9;
    border: 1px solid #88d5e9;
}


.submit{
	width:100%;
	margin-top: 5px;
	padding: 8px;
	text-align: center;
	font-weight: bold;
	color:white;
	background-color: green;
	border: none;
	border-radius: 5px 5px 5px;
    cursor: pointer;
} 

.forget{
    color: #1a839d;
    font-weight: bolder;

}

#create{
    padding-right: 30px;
    padding-left: 10px;
}
 /* #recover{
     padding-left: 30px;
 } */

a{
    text-decoration: none;
    color: transparent;
}

.diffs{
    color:white;
    font-size: 20px;
    text-align: center;
}


/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
.tablinks {float: left;}

/* Style the links inside the list items */
.tablinks {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 0px 14px 0px ;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    width: 50%
}

.tablinks2{
    float: right;
    width: 50%;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: block;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
}

.tabcontent2{
    display: none;
}