body {
  margin: 0;
  background: url("../images/bg-img\ 1.png");
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  margin-top: 70px;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover,
.offcanvas a:focus {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px !important;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  /* padding: 20px; */
  margin-top: 50px;
}

.openside {
  margin-top: 100px;
  margin-left: 50px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  float: left;
  background: #111;
  border: 1px solid #f1f1f1;
  border-radius: 5px;

  cursor: pointer;
  color: white;
  text-align: center;
  padding: 5px;
}

thead {
  background: #0232af;
  color: #f1f1f1;
  /* padding: 10px; */
}
.table-striped>thead>tr>th{
    padding: 15px;
}


.table td, .table th{
    /* padding-right: 0.30rem */
    padding-right: 0px;
    text-align: center;
    /* background-color: #6f42c1; */
}

.btn-info{
    background: #0232af
}
.btn-info:hover{
    background: #000000
}

/* .table-striped>tbody>tr:nth-of-type(odd){
    background: #0232af

    
} */
/* /* .table-striped>tbody>tr{
    color: floralwhite;
    font-weight: bolder;
} 
.table-striped>tbody>tr:hover{
    background-color: #000000;

} */

.row{
    margin-left: 10%
}

.table-title{
    margin: auto;
    /* font-size: 20px; */
    font-weight: bolder;
    color: crimson;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
