.main-head {
     position: fixed; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 15px 25px;
    z-index: 105;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
    height: 80px;
}

.wrapper1{
    background-color: #EEEEEE;
}

.main-head p{
    position: absolute;
    left: 100px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
  
 .body-content {
    position: inherit;
    max-width: 860px;
    margin: auto;
    padding-top:65px;
    margin-top: 15px;
     box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
     background-color: white;
}   

.body-content .bhead-h1 {
    color: #fff;
    padding: 50px;
    border-radius: 6px 6px 0 0;
    background: linear-gradient(151.05deg,#02ccba,#a951ed);
    border-bottom: 2px solid #dbe2e8;
    
}

bb{
    background-color: white;
}

.bb .bcontent {
    color: #fff;
    padding: 50px;
    border-radius: 6px 6px 0 0;
    background-color: white;
    border-bottom: 1px solid #EEEEEE;
}

.bcontent p {
    padding-top: 10px; 
    color: #2e3d49;
    font-size: 20px;
}

.bcontent btn1{
    float: right
}

.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    margin-left: 1100px;
    }


.type2 {
    width: 40px;
    height: 40px;
    background-color: #0288D1;    
    border: 1px solid #7D838C;
    
    
}